@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,700;1,300;1,400;1,700&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-image: url('img/flames.jpg');
    background-size: cover;
    background-attachment: fixed;
    font-family: Ubuntu, sans-serif;
    height: 100vh;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #f9faf8;
}

p {
    font-size: 18px;
}

a:hover {
    text-decoration: underline;
    text-underline-offset: 0.2em;
}


/* HEADER  */
.header {
    background-color: rgba(31, 41, 55, 0.8);
    color: #f9faf8; 
    font-size: 24px;
    backdrop-filter: blur(5px);
}

.header-wrap {
    max-width: 1100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 10px;
}

.logo-wrap {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    font-weight: bold;
    font-style: italic;
}

.logo {
    width: 75px;
    height: auto;
}

.header-wrap ul {
    display: flex;
    gap: 20px;
    font-size: 18px;
}

.header-wrap ul li:nth-of-type(1) {
    order: 3;
}

.header-wrap ul li:nth-of-type(2) {
    order: 2;
}

.header-wrap ul li:nth-of-type(3) {
    order: 1;
}


/* MAIN SECTION  */
.main-section {
    background-color: #1f2937cc;
    padding: 72px 0;  
    backdrop-filter: blur(5px);
}

.main-wrap {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.left-wrap,
.right-wrap {
    flex: 0 1 50vh;
}

.right-wrap {
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 0 15px 0px white;
}

.right-wrap img {
    width: 100%;
    height: auto;
}

.left-wrap h1 {
    font-size: 52px;
    margin-bottom: 0;
}

.left-wrap p {
    margin: 20px 0;
}

.sign-up {
    padding: 15px 45px;
    border-radius: 10px;
    outline: 2px solid white;
    background-color: #00000075;
    color: white;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}

.sign-up:hover {
    background-color: #ffffff75;
}


/* BOXES SECTION  */
.boxes-section {
    color: #1f2937;
    padding: 72px 0;
    display: flex;
    position: relative;
    overflow: hidden;
}

.section-wrap {
    max-width: 1100px;
    margin: 0 auto;
    position: relative;
}

.section-wrap h2 {
    text-align: center;
    padding-bottom: 15px;
    margin-top: 0;
    font-size: 36px;
}

.boxes-wrap {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.box {
    flex-basis: 300px;
    text-align: center;
}

.box img {
    max-width: 300px;
    height: auto;
    border-radius: 15px;
    box-shadow: 5px 8px 15px 0px #000;
}

.skew::after {
    content: '';
    position: absolute;
    width: 1100%;
    height: 1100%;
    top: 20px;
    right: -490%;
    background: rgba(255,255,255,.97);
    transform-origin: 54% 0;
    transform: rotate(45deg);
    z-index: 0;
    backdrop-filter: blur(5px);
}


/* GREY SECTION  */
.grey-section {
    background-color: rgba(229, 231, 235, .8);
    color: #1f2937;
    backdrop-filter: blur(5px);
}

.wrap-grey {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: 0 auto;
    padding: 72px 0;
}

.wrap-grey p {
    margin: 0;
    font-size: 30px;
    font-weight: 300;
    font-style: italic;
}

.wrap-grey span {
    font-weight: bold;
    align-self: flex-end;
    font-size: 24px;
}


/* CALL-TO-ACTION SECTION  */
.action {
    padding: 72px 0;
}

.action-wrap {
    max-width: 1100px;
    margin: 0 auto;
    background-color: #ffffff75;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    padding: 36px 0;
    border-radius: 15px;
    color: white;
    backdrop-filter: blur(5px);
}

.action-wrap h2 {
    margin-bottom: 0;
}
.action-wrap p {
    margin-top: 10px;
}

.sign-up.button-action:hover {
    background-color: #00000090;
    text-decoration: none;
}


/* FOOTER  */
.footer {
    background-color: rgba(31, 41, 55, .8);
    color: white;
    padding: 25px;
    margin: 0 auto;
    text-align: center;
    backdrop-filter: blur(5px);
}
